<div>
    <app-realtime></app-realtime>
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxFlex=25>
        <app-grafica-lineal color="#FF3d35"></app-grafica-lineal>
    </mat-card>
    <mat-card fxFlex=25>
        <app-grafica-lineal color="#13FFa3"></app-grafica-lineal>
    </mat-card>
    <mat-card fxFlex=25>
        <app-grafica-lineal color="#e139eF"></app-grafica-lineal>
    </mat-card>
    <mat-card fxFlex=25>
        <app-grafica-lineal color="#0f0f0f"></app-grafica-lineal>
    </mat-card>
</div>